@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body{
    font-family: 'Open Sans', sans-serif;
}
.fondo{
    background-image: url("../assets/hero.jpg");
    height: 750px;
}
header{
    width: 100%;
    height: 91px;
}
.nav{
position: fixed;
height: auto;
background: transparent;
font-size: 13px;
transition: .5s;
box-shadow: 0px 0px transparent;
z-index: 999;
}
nav.is-down {
    background: #232731;
}
.nav.is-down>.container {
    border: 0;
    padding: 15px 0
}
.nav>.container{
 transition: .5s;
    width: 90%;
    border-bottom: solid 1px gray;
    padding: 28.5px 0px;
}
.nav>.container>.row{
    margin-bottom: 0;
}
.brand-logo{
    width: 99px;
    height: 19px;
    position: relative !important;
}
nav ul li  a {
    font-size: 13px;
}
#btn{
    padding: 0px 36px;
    background: transparent;
    border: solid white 2px;
    border-radius: 40px;
    width: 133.45px;
    height: 38px;
}
#btn:hover{
    color:#FF5274;
    border-color:#FF5274;
}
li a:hover{
    color:#FF5274;
    background-color: transparent !important;
}
h1{
    font-size: 60px !important; 
    text-align: center;
    color: white;
}

.intro{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.botones {
    text-align: center;
    top: 58px;
    position: relative;
}

#btn-2{
    background: transparent;
    border:2px solid #FF5274;
    color: #FF5274;
    border-radius: 40px;
    width: 164.55px;
    height: 52px;
    display: inline-block;
    padding: 7px 30px;
}

#btn-2:hover{
    background:#FF5274 ;
    color: white;
}

#btn-1{
    background: #FF5274;
    border-radius: 40px;
    width: 160.02px;
    height: 52px;
    display: inline-block;
    padding: 9px 30px;
    color: white;
    margin-right: 20px;
}

#btn-1:hover{
    background:#D7405D;
}

.texto{
    padding-top: 260px;
}

.flecha{
    color: white;
    padding-top: 80px;
    animation: efecto 900ms alternate infinite !important;
}

@keyframes efecto {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
}
.contenedor2{
    position: relative;
    padding: 100px 0;
}
.img{
   width: 38.75px;
   height: 40px;
   font-weight: 400;
}
.titulos{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
p{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}
.intro-icon, .intro-content{
    display: inline-block;
}
.intro-content{
    width: 80%;
}
.intro-icon{
    vertical-align: top;
    padding-right: 20px;
}
@media only screen and (max-width: 991px){
    .intro-content{
        width: 70%;
    }
}
@media only screen and (max-width: 1200px){
    .intro-content{
        width: 70%;
    }
}
h5{
    font-size: 15px !important;
    font-weight: 500;
}
h3{
    font-size: 24px !important;
    margin-bottom: 20px;
    margin: 140px 0 45px;
}
.texto2{
    padding-bottom: 0;
}
.uno{
    display: flex;
}
.iconos{
    width: 40px;
    margin-right: 20px;
    border-style: none;
    margin-top: 21px;
}
.t{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
}
.dos{
    padding: 20px 0;
    border-bottom:solid 1px #E6E9EA;
    border-top:solid 1px #E6E9EA;
    margin: 20px 0;
    display: flex;
}
.tercera{
   background-color:  #F3F4F8;
   padding-top: 120px;
   position: relative;
   overflow: hidden;
}

.ipad{
    background: url(../assets/ipad-device.png)center center no-repeat;
    width: 720px;
    height: 1004px;
    z-index: 1;
}
.dispositivos{
    position: absolute;
    right: 61%;
    bottom: -340px;
}
.contparados{
position: relative;
}
.iphone{
    background: url(../assets/iphone-device.png)center center no-repeat;
    width: 304px;
    height: 619px;
    z-index: 2;
    position: absolute;
    left: 74%;
    bottom: 116px;
}
.cuarto{
    z-index: 30;
    position:relative;
    width: 100%;
    height: 400px;
    background-color:white;
    padding: 120px 0; 
}
.row{
    margin-bottom: 0;
    padding: 0 0px;
}
.container2{
    width: 84% !important;
}
header>.valign-wrapper{
    flex-wrap: wrap;
}
header>.valign-wrapper>h1,header>.valign-wrapper>p{
    width: 100%;
}
.cuarta{
    position: relative;
    background:#FFFFFF;
    top: 50px;
    overflow: hidden;
    padding: 120px 0;
}
.hola{
    top: 50px;
    left: 50px;
}
h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #3D4351;
}
.lista{
    width: 37%;
    left: 5%;
    position: relative;
}
.lista .btn{
    margin-top: 20px;    
}
.btn-small {
    padding: 8px 40px;
}  
#boton3 {
    background: transparent;
    border: 2px solid;
    border-radius: 40px;
    height: 40px;
    border-color: #FF5274;
    padding: 4px 40px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    color: #FF5274;
} 
#boton3:hover {
    color: #fff;
    background-color: #D7405D;
    border-color: #D7405D;
}

.mack {
    position: absolute;
    width: 916px;
    height: 540px;
    background:  center center no-repeat;
    top: 114px;
    z-index: 4;
}
.contmack{
   background: url(../assets/macbook-pro.png)center center no-repeat;
   width: 916px;
   height: 540px;
   position: absolute;
   top: -17px;
   left: 50%;
   z-index: 4;
}
.macpro{
    position: absolute;
    bottom: -272px;
    top: 115px;
    width: 100%;
    height: 540px;
}
mac{
    position: relative;
    overflow: hidden;
}
.container5{
    background: url("../assets/polygonal-bg.jpg") center center no-repeat #333844;
    margin-top: 120px;
    padding-bottom: 155px;
    position: relative;
    text-align: center;
}
.letra{
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 20px;
}
.change{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
    color: #ACB1B4;
}
.container6{
    padding-top: 120px;
    background: #F3F4F8;
}
.holis{
    padding-right: 100px !important ;
    border-right: solid 1px #E6E9EA;
}
.holiss{
    padding-left:  100px !important ;   
}
#boton4 {
    background: transparent;
    border: 2px solid;
    border-radius: 40px;
    height: 55px;
    border-color: #FF5274;
    padding: 11px 40px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    color: #FF5274;
} 
#boton4:hover {
    color: #fff;
    background-color: #D7405D;
    border-color: #D7405D;
}
.diamante{    
    position: absolute;
    margin: auto;   
    width: 240px;
    left: 0;
    right: 0;
    bottom: -93px;
}
.dio{
    padding-top: 140px;
    padding-bottom: 80px;
}
.septimo{
    position: relative;
    background-color:#f3f4f8;
    z-index: 1;
    padding-bottom: 100px;
}
.overlay .galeria{
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.overlay1 .galeria{
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.txtgaleria{
    text-align: center;
}

.titulogaleria{
   color:#FF5274 ;
   font-size: 11px;
   font-weight: 500;
   padding-top: 30px;
}

.txtgaleria1{
    line-height: 21px;
    color: rgba(28,54,83,.5);
    font-weight: 0;
    font-size: 15px;
    transition: .5s;
}

.txtgaleria1:hover{
    color: rgba(28,54,83,.9);
}
#btn-5{
    background: transparent;
    border:2px solid #FF5274;
    color: #FF5274;
    border-radius: 40px;
    width: 160.72px;
    height: 38px;
    display: inline-block;
    padding: 0px 35px;
    margin-top: 34px;

}

#btn-5:hover{
    background:#FF5274 ;
    color: white;
}

.flechita{
    vertical-align: -7px;
}

.sliderimg{
    width: 100%;
    height: 525px;
    bottom: 20px;
    position: relative;
}

.overlay{
    width: 419.66px;
    height: 236.2px;
    overflow: hidden;
    position: relative;
}

.overlay:hover .galeria{
    transform: scale(1.1);
}

.overlay1{
    width: 419.66px;
    height: 235.75px;
    overflow: hidden;
}

.overlay1:hover .galeria{
    transform: scale(1.1);
}

.mascara{
position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: auto;
width: auto;
opacity: 0;
background-color: rgba(255 , 255, 255, 0.5);
transition: 0.5s;
}

.overlay:hover .mascara{
    opacity: 1;
}

.lupa{
    color: #f3f4f8;
    position: absolute;
    margin: 0 auto;
    top:20px;
    right:20px;
    font-size: 1.8rem !important;
}

.clase6 .row .col{
    padding-left: 0;
    padding-right: 0;
}
.carousel.carousel-slider .carousel-item{
    padding: 100px 0;
}
.clase6{
    background: url(../assets/testimonials-bg.jpg) center center no-repeat #333844;
}
.imgslide1,.imgslide2, .imgslide3{
    width: 82px;
    height: 82px;
    margin: 0 auto;
}
.imgslide1{
    background: url(../img/mani.jpg);
    background-size: cover;
}
.imgslide2{
    background: url(../img/130.jpg);
    background-size: cover;
}
.imgslide3{
    background: url(../img/avatar@2x.jpg);
    background-size: cover;
}



.arrowright i, .arrowleft i{
    color: rgba(255,255,255,1)
}
.arrowright,.arrowleft{
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    transition: all .3s linear;
}
.arrowleft{
    left: 80px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    transform: translateX(-80px);
}
.arrowright{
    right: 80px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    transform: translateX(80px);
}
.carousel:hover .arrowright, .carousel:hover .arrowleft{
    opacity: 1;
    transform: translateX(0);
}
.padi{
    padding: 50px;
}
.lightbox{
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 , 0, 0, 0.432);
}
.lightbox .light{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 5px white;
    border-radius: 1%;
}
.lightbox .cerrar{
    z-index: 4;
    position: absolute;
    top: -13px;
    right: -14px;
    margin: auto;
    float: left;
    width: 30px;
}
.lightcontent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 543px;
    height: 310px;
    z-index: 999;
}
.lightbox2{
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 , 0, 0, 0.432);
}
.lightbox2 .light2{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 5px white;
    border-radius: 1%;
}
.lightbox2 .cerrar2{
    z-index: 4;
    position: absolute;
    top: -13px;
    right: -14px;
    margin: auto;
    float: left;
    width: 30px;
}
.lightbox3{
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 , 0, 0, 0.432);
}
.lightbox3 .light3{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 5px white;
    border-radius: 1%;
}
.lightbox3 .cerrar3{
    z-index: 4;
    position: absolute;
    top: -13px;
    right: -14px;
    margin: auto;
    float: left;
    width: 30px;
}

